@import "mocha.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: IosevkaTerm NF, FontAwesome;
    font-size: 11px;
    font-weight: 500;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    margin-right: 1px;
}

window#waybar {
    background-color: @crust;
    color: @text;
    transition-property: all;
    transition-duration: .5s;
    opacity: 1;
    /*opacity: 1;*/
}

window#waybar.hidden {
    /*opacity: 0.2;*/
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: @mantle;
}

window#waybar.chromium {
    background-color: @crust;
}

#tags button {
    padding: 0px 1px;
    background-color: @mantle;
    color: @text;
}

#tags button.focused {
	color: @rosewater;
	border-top: 2px solid @rosewater;
	border-bottom: 2px solid @rosewater;
}
#workspaces button {
    padding: 0 2px;
    background-color: @base;
    color: @text;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*#workspaces button:hover {
    background: @surface1;
}*/

#workspaces button.focused {
    background-color: @mantle;
}

#workspaces button.urgent {
    background-color: @yellow;
}

#mode {
    background-color: @mauve;
    color: @mantle;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,

#window,
#workspaces {
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @blue;
    color: @crust;
    padding: 0px 1px 0px 1px;
}

#battery {
    background-color: @blue;
    color: @crust;
    padding: 0px 1px 0px 1px;
}

#battery.charging, #battery.plugged {
    color: @green;
    background-color: @crust;
    padding: 0px 1px 0px 1px;
}

@keyframes blink {
    to {
        background-color: @blue;
        color: @crust;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 0px 1px 0px 1px;
}

label:focus {
    background-color: @surface0;
    padding: 0px 1px 0px 1px;
}

#cpu {
    background-color: @blue;
    color: @crust;
    padding: 0px 1px 0px 1px;
}

#memory {
    background-color: @blue;
    padding: 0px 1px 0px 1px;
    color: @crust;
}

#disk {
    background-color: @blue;
    color: @crust;
    padding: 0px 1px 0px 1px;
}

#backlight {
    background-color: @blue;
    color: @crust;
    padding: 0px 1px 0px 1px;
}

#network {
    background-color: @blue;
    color: @crust;
    padding: 0px 1px 0px 1px;
}

#network.disconnected {
    background-color: @yellow;
    color: @crust;
    padding: 0px 1px 0px 1px;
}

#pulseaudio {
    background-color: @blue;
    color: @crust;
    padding: 0px 1px 0px 1px;
}

#pulseaudio.muted {
    background-color: @yellew;
    color: @crust;
    padding: 0px 1px 0px 1px;
}

#custom-media {
    background-color: @blue;
    color: @crust;
    min-width: 100px;
    padding: 0px 1px 0px 1px;
}

#custom-media.custom-spotify {
    background-color: @green;
    padding: 0px 1px 0px 1px;
}

#custom-media.custom-vlc {
    background-color: @green;
    padding: 0px 1px 0px 1px;
}

#temperature {
    background-color: @blue;
    color: @crust;
    padding: 0px 1px 0px 1px;
}

#temperature.critical {
    background-color: @red;
    padding: 0px 1px 0px 1px;
}

#tray {
    background-color: @surface1;
    padding: 0px 1px 0px 1px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    padding: 0px 1px 0px 1px;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @overlay2;
    padding: 0px 1px 0px 1px;
}

#idle_inhibitor {
    background-color: @blue;
    color: @crust;
    padding: 0px 1px 0px 1px;
}

#idle_inhibitor.activated {
    background-color: @green;
    color: @crust;
    padding: 0px 1px 0px 1px;
}

#language {
    background: @blue;
    color: @crust;
    padding: 0 1px 0 4px;
    min-width: 16px;
}

#keyboard-state {
    background: @blue;
    color: @crust;
    padding: 0 1px 0 4px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
    padding: 0 1px 0 4px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
    padding: 0 1px 0 4px;
}

#custom-dunst {
		background: @blue;
		color: @crust;
		padding: 0px 1px 0px 1px;
		/*min-width: 20px;*/
}
